.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background:rgb(220, 205, 239);
    text-align: center; 
}  

body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
}
::selection {
    background: rgba(82,179,217,0.3);
    color: inherit;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: grid;
}

body {
    box-sizing: border-box;
    border-style: groove;
    border-color: black;
    height: auto;
    width: auto;
} 

.input{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#input,
.send-button{
    position:absolute;
    bottom:2px;
    width:60%;
    height:40px;   /* Height of the footer */
    background:rgb(220, 205, 239);
    text-align: center; 
    margin: 25px;
}

.send-button{
    position:absolute;
    bottom: 2px;;
    width:10%;
    height:40px;   /* Height of the footer */
    text-align: center; 
} 

.chat{
    width: 350px;
    height: 350px;
    border-color: black;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
}

.chat::after {
    content: "";
    clear: both;
    display: table;
}

