.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background:rgb(220, 205, 239);
    text-align: center; 
}  

body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
}

::selection {
    background: rgba(82,179,217,0.3);
    color: inherit;
}


.chat-box{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    display: flex;
    align-items: center;
}

.chat{
    width: 450px;
    height: 450px;
    border-color: black;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin: 0 5px;
    pointer-events: auto;
}

.chat::after {
    content: "";
    clear: both;
    display: table;
    float: left;
}


.header {
    display: inline;
	position: relative;
	font: 25px Helvetica, Sans-Serif;
	letter-spacing: -5px;
    color: rgb(223, 136, 151);
}

.header:after {
    position: absolute; left: 10px; top: 5px;
}

.header:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform:    scale(1.1);
    -ms-transform:     scale(1.1); 
    -o-transform:      scale(1.1); 
    text-shadow: 3px 3px 0 #333; 
}

p {
	position: relative;
	/* max-width: 5em; */
	background-color: #fff;
	padding: 1.125em 1.5em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
   
}

p::after{
    content: "";
    clear: both;
    display: table;
    float: left;
}

html {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #192229;
	background: linear-gradient(135deg, #F4F2F3, #BFC6D0);
    background-image: url("https://i.pinimg.com/originals/e4/8a/9e/e48a9ec8fc62533b6d981bb9cfd62898.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

html, body {
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
    padding: 0 2rem;
    
}

.chat-message{
    display: float;
}

input{
   margin: 5px;
}

